name: build-padavanonly

on:
  workflow_dispatch:
    inputs:
      PACKAGE:
        description: '手动调整插件包，多个请用\n符号隔开。'
        required: false
        type: string

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

#CI权限
permissions: write-all

#CI任务
jobs:
  config:
    name: ${{matrix.CHIP_CONFIG}}
    strategy:
      fail-fast: false
      matrix:
        CHIP_CONFIG: [MT7986]
        REPO_INFO:
          - {
              SOURCE: "padavanonly/immortalwrt-mt798x-6.6",
              BRANCH: "openwrt-24.10-6.6",
            }

    #调用公用编译核心build-oc-core.yml(oc表示OpenWRT和CloseWRT)
    uses: "${{ github.workspace }}/.github/workflows/build-oc-core.yml"
    with:
      #编译配置
      OC_CHIP: ${{matrix.CHIP_CONFIG}}
      #默认主题
      OC_THEME: argon
      #默认主机名
      OC_NAME: n60pro
      #默认WIFI名称
      OC_SSID: 778v5
      #默认WIFI密码
      OC_WORD: 12345678
      #默认地址
      OC_IP: 192.168.10.1
      #默认密码，仅作提示，修改无用
      OC_PW: 无
      #tag名
      OC_TAG: padavanonly
      #源码链接
      OC_REPO: https://github.com/${{matrix.REPO_INFO.SOURCE}}.git
      #源码分支
      OC_BRANCH: ${{matrix.REPO_INFO.BRANCH}}
      #源码名称
      OC_SOURCE: ${{matrix.REPO_INFO.SOURCE}}
      #配置文件
      OC_CONFIG: "${{ github.workspace }}/config/padavanonly/padavanonly.conf"
      #脚本文件路径
      OC_SCRIPTS: "${{ github.workspace }}/scripts/padavanonly"
      #插件调整
      OC_PACKAGE: ${{inputs.PACKAGE}}