name: build-padavanonly

on:
  workflow_dispatch:
    inputs:
      PACKAGE:
        description: '手动调整插件包，多个请用\n符号隔开。'
        required: false
        type: string

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

#CI权限
permissions: write-all

#CI任务
jobs:
  config:
    name: ${{matrix.CONFIG}}
    strategy:
      fail-fast: false
      matrix:
        CONFIG: [MT7986]
        REPO_INFO:
          - {SOURCE: "padavanonly/immortalwrt-mt798x-6.6", BRANCH: "openwrt-24.10-6.6"}

    #调用公用编译核心WRT-CORE.yml
    uses: ./.github/workflows/build-padavanonly-core.yml
    with:
      #编译配置
      PADAVANONLY_CONFIG: ${{matrix.CONFIG}}
      #默认主题
      PADAVANONLY_THEME: argon
      #默认主机名
      PADAVANONLY_NAME: n60pro
      #默认WIFI名称
      PADAVANONLY_SSID: 778v5
      #默认WIFI密码
      PADAVANONLY_WORD: 12345678
      #默认地址
      PADAVANONLY_IP: 192.168.10.1
      #默认密码，仅作提示，修改无用
      PADAVANONLY_PW: 无
      #源码链接
      PADAVANONLY_REPO: https://github.com/${{matrix.REPO_INFO.SOURCE}}.git
      #源码分支
      PADAVANONLY_BRANCH: ${{matrix.REPO_INFO.BRANCH}}
      #源码名称
      PADAVANONLY_SOURCE: ${{matrix.REPO_INFO.SOURCE}}
      #插件调整
      PADAVANONLY_PACKAGE: ${{inputs.PACKAGE}}
