name: clean-cache

on:
  workflow_dispatch:

permissions: write-all

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout projects
        uses: actions/checkout@main

      - name: Clean cache
        run: gh cache delete --all
